apps/aiops_agent/workflows/aiops_keycloak_membership_check_test.json
{
  "name": "aiops-keycloak-membership-check-test",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "path": "aiops/test/keycloak-membership",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Keycloak Membership Test)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $json ?? {};\nconst body = (request && typeof request === 'object' && request.body !== undefined)\n  ? (request.body ?? {})\n  : request;\n\nconst email = String(body.email ?? body.actor?.email ?? $env.N8N_KEYCLOAK_TEST_EMAIL ?? 'nonexistent-user@example.invalid').trim();\nconst tenant = String(body.tenant ?? body.realm ?? body.actor?.tenant ?? $env.N8N_KEYCLOAK_TEST_REALM ?? '').trim();\n\nreturn [{\n  json: {\n    source: 'zulip',\n    actor: { source: 'zulip', email, tenant, realm: tenant },\n    reply_target: { source: 'zulip', tenant, realm: tenant },\n    _test: { email, tenant }\n  }\n}];\n"
      },
      "id": "2",
      "name": "Build Input (Keycloak Membership Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json.source || $json.reply_target?.source || '';\nif (source !== 'zulip') {\n  return [{ json: { ...$json, keycloak_member_ok: true, keycloak_check_skipped: true } }];\n}\n\nconst enforceRaw = $env.N8N_ZULIP_ENFORCE_KEYCLOAK_MEMBERSHIP;\nconst enforce = enforceRaw === undefined || enforceRaw === null || enforceRaw === ''\n  ? true\n  : /^(1|true|yes|y|on)$/i.test(String(enforceRaw));\n\nif (!enforce) {\n  return [{ json: { ...$json, keycloak_member_ok: true, keycloak_check_skipped: true } }];\n}\n\nconst email = ($json.actor?.email || '').trim();\nif (!email) {\n  return [{ json: { ...$json, keycloak_member_ok: false, keycloak_error: 'actor.email is missing' } }];\n}\n\nconst tenant = ($json.actor?.tenant || $json.actor?.realm || $json.reply_target?.tenant || $json.reply_target?.realm || '').trim();\n\nlet realmMap = null;\ntry {\n  if ($env.N8N_KEYCLOAK_REALM_MAP_JSON) {\n    const parsed = JSON.parse($env.N8N_KEYCLOAK_REALM_MAP_JSON);\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) realmMap = parsed;\n  }\n} catch (error) {\n  realmMap = null;\n}\n\nlet targetRealm = tenant;\nif (realmMap) {\n  targetRealm = (tenant && realmMap[tenant]) ? String(realmMap[tenant]).trim()\n    : (realmMap.default ? String(realmMap.default).trim() : targetRealm);\n}\n\nconst baseUrl = String($env.N8N_KEYCLOAK_BASE_URL || '').replace(/\\/+$/, '');\nconst adminRealm = String($env.N8N_KEYCLOAK_ADMIN_REALM || 'master').trim();\nconst adminUsername = String($env.N8N_KEYCLOAK_ADMIN_USERNAME || '').trim();\nconst adminPassword = String($env.N8N_KEYCLOAK_ADMIN_PASSWORD || '').trim();\n\nif (!baseUrl || !targetRealm || !adminUsername || !adminPassword) {\n  return [{\n    json: {\n      ...$json,\n      keycloak_member_ok: false,\n      keycloak_error: 'keycloak config is missing',\n      keycloak_debug: {\n        baseUrl: !!baseUrl,\n        targetRealm,\n        hasUsername: !!adminUsername,\n        hasPassword: !!adminPassword\n      }\n    }\n  }];\n}\n\nconst workflowContext = this;\n\nfunction loadCachedToken() {\n  try {\n    const staticData = workflowContext.getWorkflowStaticData('global');\n    const token = staticData.keycloak_admin_token;\n    const expiresAt = staticData.keycloak_admin_token_expires_at;\n    if (token && expiresAt && Date.now() < (Number(expiresAt) - 30_000)) {\n      return token;\n    }\n  } catch (error) {}\n  return null;\n}\n\nfunction saveCachedToken(token, expiresInSeconds) {\n  try {\n    const staticData = workflowContext.getWorkflowStaticData('global');\n    staticData.keycloak_admin_token = token;\n    staticData.keycloak_admin_token_expires_at = Date.now() + (Number(expiresInSeconds || 60) * 1000);\n  } catch (error) {}\n}\n\nasync function fetchAdminToken() {\n  const tokenUrl = `${baseUrl}/realms/${encodeURIComponent(adminRealm)}/protocol/openid-connect/token`;\n  const body = `grant_type=password&client_id=admin-cli&username=${encodeURIComponent(adminUsername)}&password=${encodeURIComponent(adminPassword)}`;\n\n  const resp = await workflowContext.helpers.httpRequest({\n    method: 'POST',\n    url: tokenUrl,\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body,\n    json: true\n  });\n\n  const token = resp?.access_token;\n  const expiresIn = resp?.expires_in;\n  if (!token) throw new Error('keycloak token response missing access_token');\n  saveCachedToken(token, expiresIn || 60);\n  return token;\n}\n\nasync function searchUsers(token) {\n  const headers = { Authorization: `Bearer ${token}` };\n  const url1 = `${baseUrl}/admin/realms/${encodeURIComponent(targetRealm)}/users?email=${encodeURIComponent(email)}&exact=true&max=2`;\n  try {\n    const resp1 = await workflowContext.helpers.httpRequest({ method: 'GET', url: url1, headers, json: true });\n    if (Array.isArray(resp1)) return resp1;\n  } catch (error) {\n    // ignore and fallback\n  }\n\n  const url2 = `${baseUrl}/admin/realms/${encodeURIComponent(targetRealm)}/users?search=${encodeURIComponent(email)}&max=2`;\n  const resp2 = await workflowContext.helpers.httpRequest({ method: 'GET', url: url2, headers, json: true });\n  return Array.isArray(resp2) ? resp2 : [];\n}\n\nreturn await (async () => {\n  try {\n    const cached = loadCachedToken();\n    const token = cached || await fetchAdminToken();\n    const users = await searchUsers(token);\n    return [{\n      json: {\n        ...$json,\n        keycloak_member_ok: users.length > 0,\n        keycloak_user_count: users.length,\n        keycloak_checked_realm: targetRealm\n      }\n    }];\n  } catch (error) {\n    return [{\n      json: {\n        ...$json,\n        keycloak_member_ok: false,\n        keycloak_error: String(error && error.message ? error.message : error)\n      }\n    }];\n  }\n})();\n"
      },
      "id": "3",
      "name": "Verify Keycloak Membership (Zulip) (Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "4",
      "name": "Respond (Keycloak Membership Test)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'after',\n  source: 'Webhook (Keycloak Membership Test)',\n  target: 'Build Input (Keycloak Membership Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "5",
      "name": "Debug Log After: Webhook (Keycloak Membership Test) -> Build Input (Keycloak Membership Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'before',\n  source: 'Webhook (Keycloak Membership Test)',\n  target: 'Build Input (Keycloak Membership Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "6",
      "name": "Debug Log Before: Build Input (Keycloak Membership Test) <- Webhook (Keycloak Membership Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'after',\n  source: 'Build Input (Keycloak Membership Test)',\n  target: 'Verify Keycloak Membership (Zulip) (Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "7",
      "name": "Debug Log After: Build Input (Keycloak Membership Test) -> Verify Keycloak Membership (Zulip) (Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'before',\n  source: 'Build Input (Keycloak Membership Test)',\n  target: 'Verify Keycloak Membership (Zulip) (Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "8",
      "name": "Debug Log Before: Verify Keycloak Membership (Zulip) (Test) <- Build Input (Keycloak Membership Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'after',\n  source: 'Verify Keycloak Membership (Zulip) (Test)',\n  target: 'Respond (Keycloak Membership Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "9",
      "name": "Debug Log After: Verify Keycloak Membership (Zulip) (Test) -> Respond (Keycloak Membership Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const debugFlag = String($env.N8N_DEBUG_LOG || '').toLowerCase();\nconst enabled = ['1', 'true', 'yes', 'y', 'on'].includes(debugFlag);\nif (!enabled) {\n  return $input.all();\n}\n\nconst maxItemsRaw = $env.N8N_DEBUG_LOG_MAX_ITEMS || '5';\nconst maxItems = Number.isFinite(Number(maxItemsRaw)) ? Number(maxItemsRaw) : 5;\nconst items = $input.all();\nconst sample = items.slice(0, Math.max(0, maxItems));\n\nfunction mask(value, depth = 0) {\n  if (depth > 4) return '[max-depth]';\n  if (Array.isArray(value)) {\n    return value.map((entry) => mask(entry, depth + 1));\n  }\n  if (value && typeof value === 'object') {\n    const result = {};\n    for (const [key, raw] of Object.entries(value)) {\n      const keyLower = String(key).toLowerCase();\n      if (keyLower.includes('token') || keyLower.includes('secret') || keyLower.includes('password') || keyLower.includes('authorization') || keyLower.includes('cookie') || keyLower.includes('api_key') || keyLower.includes('apikey')) {\n        result[key] = '***';\n      } else {\n        result[key] = mask(raw, depth + 1);\n      }\n    }\n    return result;\n  }\n  return value;\n}\n\nconst payload = sample.map((item) => mask(item.json));\nconst line = JSON.stringify({\n  tag: 'n8n_debug',\n  phase: 'before',\n  source: 'Verify Keycloak Membership (Zulip) (Test)',\n  target: 'Respond (Keycloak Membership Test)',\n  output_index: 0,\n  items_total: items.length,\n  items: payload\n});\n\ntry {\n  if (this?.logger?.info) {\n    this.logger.info(line);\n  } else {\n    console.log(line);\n  }\n} catch (error) {\n  console.log(line);\n}\n\nconst observerUrl = $env.N8N_OBSERVER_URL;\nconst observerToken = $env.N8N_OBSERVER_TOKEN;\n\nif (observerUrl && observerToken) {\n  let event = null;\n  try {\n    event = JSON.parse(line);\n  } catch (error) {\n    event = { tag: 'n8n_debug', raw: String(line ?? '') };\n  }\n\n  const payloadForObserver = {\n    kind: 'n8n.debug_log',\n    realm: $env.N8N_OBSERVER_REALM ?? null,\n    workflow: $workflow.name,\n    execution_id: $execution.id,\n    sent_at: new Date().toISOString(),\n    event\n  };\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: observerUrl,\n      json: true,\n      headers: {\n        'X-Observer-Token': observerToken\n      },\n      body: payloadForObserver,\n      timeout: 5000\n    });\n  } catch (error) {\n    // Observability must never break production workflows.\n  }\n}\nreturn $input.all();\n",
        "mode": "runOnceForAllItems"
      },
      "id": "10",
      "name": "Debug Log Before: Respond (Keycloak Membership Test) <- Verify Keycloak Membership (Zulip) (Test)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Debug Log After: Webhook (Keycloak Membership Test) -> Build Input (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Input (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Debug Log After: Build Input (Keycloak Membership Test) -> Verify Keycloak Membership (Zulip) (Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Keycloak Membership (Zulip) (Test)": {
      "main": [
        [
          {
            "node": "Debug Log After: Verify Keycloak Membership (Zulip) (Test) -> Respond (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log After: Webhook (Keycloak Membership Test) -> Build Input (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Debug Log Before: Build Input (Keycloak Membership Test) <- Webhook (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log Before: Build Input (Keycloak Membership Test) <- Webhook (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Build Input (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log After: Build Input (Keycloak Membership Test) -> Verify Keycloak Membership (Zulip) (Test)": {
      "main": [
        [
          {
            "node": "Debug Log Before: Verify Keycloak Membership (Zulip) (Test) <- Build Input (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log Before: Verify Keycloak Membership (Zulip) (Test) <- Build Input (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Verify Keycloak Membership (Zulip) (Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log After: Verify Keycloak Membership (Zulip) (Test) -> Respond (Keycloak Membership Test)": {
      "main": [
        [
          {
            "node": "Debug Log Before: Respond (Keycloak Membership Test) <- Verify Keycloak Membership (Zulip) (Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Log Before: Respond (Keycloak Membership Test) <- Verify Keycloak Membership (Zulip) (Test)": {
      "main": [
        [
          {
            "node": "Respond (Keycloak Membership Test)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
