apps/itsm_core/sor_ops/workflows/itsm_sor_ops_pii_redaction_job.json
{
  "name": "itsm-sor-ops-pii-redaction-job",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Cron PII Redaction",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        520
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 15
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Build Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        520
      ],
      "parameters": {
        "jsCode": "function parseRealmList(raw) {\n  const s = String(raw || '').trim();\n  if (!s) return ['default'];\n  return s\n    .replace(/,/g, ' ')\n    .split(/\\s+/)\n    .map((x) => String(x || '').trim())\n    .filter(Boolean);\n}\n\nfunction parseIntSafe(raw, fallback) {\n  const n = Number.parseInt(String(raw ?? ''), 10);\n  return Number.isFinite(n) && n >= 0 ? n : fallback;\n}\n\nfunction parseBool(raw, fallback) {\n  if (raw === undefined || raw === null || raw === '') return fallback;\n  const s = String(raw).toLowerCase().trim();\n  return ['1', 'true', 'yes', 'y', 'on'].includes(s);\n}\n\nconst realms = parseRealmList(process.env.ITSM_SOR_OPS_REALMS || process.env.N8N_AGENT_REALMS || process.env.N8N_REALM || 'default');\nconst limit = parseIntSafe(process.env.ITSM_SOR_PII_REDACTION_LIMIT, 20);\nconst execute = parseBool(process.env.ITSM_SOR_PII_REDACTION_EXECUTE, false);\n\nreturn realms.map((realm) => ({\n  json: {\n    realm,\n    limit,\n    execute\n  }\n}));\n"
      }
    },
    {
      "id": "3",
      "name": "Redaction Dry Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        520
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.limit ?? 20) }}',''), '20')::int) AS lim,\n    (CASE WHEN '{{ $json.execute ? \"true\" : \"false\" }}' = 'true' THEN true ELSE false END) AS execute\n)\nSELECT\n  v.realm_key AS realm,\n  v.lim AS limit,\n  v.execute,\n  itsm.process_pii_redaction_requests(itsm.set_rls_context(v.realm_key), v.lim, true) AS summary\nFROM v;"
      }
    },
    {
      "id": "4",
      "name": "Decide Execute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        520
      ],
      "parameters": {
        "jsCode": "function parseSummary(raw) {\n  if (raw === null || raw === undefined) return {};\n  if (typeof raw === 'object') return raw;\n  const s = String(raw).trim();\n  if (!s) return {};\n  try {\n    return JSON.parse(s);\n  } catch {\n    return {};\n  }\n}\n\nconst summary = parseSummary($json.summary);\nconst pending = Number(summary.pending ?? summary.pending_before ?? 0) || 0;\nconst limit = Number($json.limit) || 0;\nconst execute = Boolean($json.execute);\nconst doExecute = execute && limit > 0 && pending > 0;\n\nreturn [{\n  json: {\n    realm: String($json.realm || 'default'),\n    limit,\n    execute,\n    pending,\n    do_execute: doExecute,\n    dry_run_summary: summary\n  }\n}];\n"
      }
    },
    {
      "id": "5",
      "name": "Should Execute?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        520
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.do_execute }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Redaction Execute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1820,
        400
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.limit ?? 20) }}',''), '20')::int) AS lim\n)\nSELECT\n  v.realm_key AS realm,\n  v.lim AS limit,\n  itsm.process_pii_redaction_requests(itsm.set_rls_context(v.realm_key), v.lim, false) AS summary\nFROM v;"
      }
    }
  ],
  "connections": {
    "Cron PII Redaction": {
      "main": [
        [
          {
            "node": "Build Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Inputs": {
      "main": [
        [
          {
            "node": "Redaction Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redaction Dry Run": {
      "main": [
        [
          {
            "node": "Decide Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Execute": {
      "main": [
        [
          {
            "node": "Should Execute?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Execute?": {
      "main": [
        [
          {
            "node": "Redaction Execute",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}

