apps/itsm_core/sor_ops/workflows/itsm_sor_ops_retention_job.json
{
  "name": "itsm-sor-ops-retention-job",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Cron Retention",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 3,
              "minute": 10
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Build Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ],
      "parameters": {
        "jsCode": "function parseRealmList(raw) {\n  const s = String(raw || '').trim();\n  if (!s) return ['default'];\n  return s\n    .replace(/,/g, ' ')\n    .split(/\\s+/)\n    .map((x) => String(x || '').trim())\n    .filter(Boolean);\n}\n\nfunction parseIntSafe(raw, fallback) {\n  const n = Number.parseInt(String(raw ?? ''), 10);\n  return Number.isFinite(n) && n >= 0 ? n : fallback;\n}\n\nfunction parseBool(raw, fallback) {\n  if (raw === undefined || raw === null || raw === '') return fallback;\n  const s = String(raw).toLowerCase().trim();\n  return ['1', 'true', 'yes', 'y', 'on'].includes(s);\n}\n\nconst realms = parseRealmList(process.env.ITSM_SOR_OPS_REALMS || process.env.N8N_AGENT_REALMS || process.env.N8N_REALM || 'default');\nconst maxRows = parseIntSafe(process.env.ITSM_SOR_RETENTION_MAX_ROWS, 500);\nconst execute = parseBool(process.env.ITSM_SOR_RETENTION_EXECUTE, false);\n\nreturn realms.map((realm) => ({\n  json: {\n    realm,\n    max_rows: maxRows,\n    execute\n  }\n}));\n"
      }
    },
    {
      "id": "3",
      "name": "Retention Dry Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.max_rows ?? 500) }}',''), '500')::int) AS max_rows,\n    (CASE WHEN '{{ $json.execute ? \"true\" : \"false\" }}' = 'true' THEN true ELSE false END) AS execute\n)\nSELECT\n  v.realm_key AS realm,\n  v.max_rows,\n  v.execute,\n  itsm.apply_retention_batch(itsm.set_rls_context(v.realm_key), true, v.max_rows) AS summary\nFROM v;"
      }
    },
    {
      "id": "4",
      "name": "Decide Execute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        200
      ],
      "parameters": {
        "jsCode": "function parseSummary(raw) {\n  if (raw === null || raw === undefined) return {};\n  if (typeof raw === 'object') return raw;\n  const s = String(raw).trim();\n  if (!s) return {};\n  try {\n    return JSON.parse(s);\n  } catch {\n    return {};\n  }\n}\n\nconst summary = parseSummary($json.summary);\nconst eligibleTotal = Object.entries(summary)\n  .filter(([k]) => k.endsWith('_eligible'))\n  .reduce((acc, [, v]) => acc + (Number(v) || 0), 0);\n\nconst maxRows = Number($json.max_rows) || 0;\nconst execute = Boolean($json.execute);\nconst doExecute = execute && maxRows > 0 && eligibleTotal > 0;\n\nreturn [{\n  json: {\n    realm: String($json.realm || 'default'),\n    max_rows: maxRows,\n    execute,\n    eligible_total: eligibleTotal,\n    do_execute: doExecute,\n    dry_run_summary: summary\n  }\n}];\n"
      }
    },
    {
      "id": "5",
      "name": "Should Execute?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.do_execute }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Retention Execute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1820,
        80
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.max_rows ?? 500) }}',''), '500')::int) AS max_rows\n)\nSELECT\n  v.realm_key AS realm,\n  v.max_rows,\n  itsm.apply_retention_batch(itsm.set_rls_context(v.realm_key), false, v.max_rows) AS summary\nFROM v;"
      }
    }
  ],
  "connections": {
    "Cron Retention": {
      "main": [
        [
          {
            "node": "Build Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Inputs": {
      "main": [
        [
          {
            "node": "Retention Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retention Dry Run": {
      "main": [
        [
          {
            "node": "Decide Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Execute": {
      "main": [
        [
          {
            "node": "Should Execute?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Execute?": {
      "main": [
        [
          {
            "node": "Retention Execute",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}

