apps/itsm_core/sor_ops/workflows/itsm_sor_ops_pii_redaction_test.json
{
  "name": "itsm-sor-ops-pii-redaction-test",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        520
      ],
      "parameters": {
        "path": "itsm/sor/ops/pii_redaction/test",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "2",
      "name": "Build Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        520
      ],
      "parameters": {
        "jsCode": "function parseIntSafe(raw, fallback) {\n  const n = Number.parseInt(String(raw ?? ''), 10);\n  return Number.isFinite(n) && n >= 0 ? n : fallback;\n}\n\nconst body = ($json && typeof $json === 'object' && $json.body && typeof $json.body === 'object') ? $json.body : ($json ?? {});\nconst realm = String(body.realm || process.env.N8N_REALM || 'default').trim() || 'default';\nconst limit = parseIntSafe(body.limit ?? process.env.ITSM_SOR_PII_REDACTION_LIMIT, 20);\n\nreturn [{ json: { realm, limit } }];\n"
      }
    },
    {
      "id": "3",
      "name": "Redaction Dry Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        520
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.limit ?? 20) }}',''), '20')::int) AS lim\n)\nSELECT\n  v.realm_key AS realm,\n  v.lim AS limit,\n  itsm.process_pii_redaction_requests(itsm.set_rls_context(v.realm_key), v.lim, true) AS summary\nFROM v;"
      }
    },
    {
      "id": "4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        520
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, input: $items(\"Build Input\")[0].json, result: $json } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Build Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Input": {
      "main": [
        [
          {
            "node": "Redaction Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redaction Dry Run": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

