apps/itsm_core/gitlab_push_notify/workflows/gitlab_push_notify_test.json
{
  "name": "gitlab-push-notify-test",
  "nodes": [
    {
      "parameters": {
        "path": "gitlab/push/notify/test",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Test)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function isTruthy(value) {\n  if (value === undefined || value === null) return false;\n  const v = String(value).toLowerCase();\n  return ['1', 'true', 'yes', 'y', 'on'].includes(v);\n}\n\nconst request = $json ?? {};\nconst headers = (request && typeof request === 'object' && request.headers && typeof request.headers === 'object')\n  ? request.headers\n  : {};\nconst body = (request && typeof request === 'object' && request.body && typeof request.body === 'object')\n  ? request.body\n  : {};\n\nfunction getHeader(name) {\n  const key = String(name || '').toLowerCase();\n  if (!key) return undefined;\n  if (headers[key] !== undefined) return headers[key];\n  const found = Object.keys(headers).find((k) => k.toLowerCase() === key);\n  return found ? headers[found] : undefined;\n}\n\nfunction kebab(key) {\n  return String(key || '').toLowerCase().replace(/_/g, '-');\n}\n\nfunction overrideEnv(key) {\n  const headerValue = getHeader('x-aiops-env-' + kebab(key));\n  if (headerValue !== undefined && headerValue !== null && String(headerValue).trim() !== '') {\n    return String(headerValue);\n  }\n\n  const envFromBody = (body && typeof body.env === 'object' && body.env) ? body.env : null;\n  if (envFromBody && envFromBody[key] !== undefined && envFromBody[key] !== null && String(envFromBody[key]).trim() !== '') {\n    return String(envFromBody[key]);\n  }\n\n  return '';\n}\n\nfunction pickEnv(key) {\n  const overridden = overrideEnv(key);\n  if (overridden) return overridden;\n  return String($env?.[key] || '').trim();\n}\n\nfunction parseYamlMap(text) {\n  const map = {};\n  String(text || '').split(/\\r?\\n/).forEach((line) => {\n    const trimmed = line.trim();\n    if (!trimmed || trimmed.startsWith('#')) return;\n    const idx = trimmed.indexOf(':');\n    if (idx <= 0) return;\n    const key = trimmed.slice(0, idx).trim();\n    let value = trimmed.slice(idx + 1).trim();\n    value = value.replace(/^['\\\"]|['\\\"]$/g, '');\n    if (key) map[key] = value;\n  });\n  return map;\n}\n\nconst strict = isTruthy(body.strict) || isTruthy($env.GITLAB_PUSH_NOTIFY_TEST_STRICT);\n\nconst secret = pickEnv('GITLAB_WEBHOOK_SECRET');\nconst projectFilter = pickEnv('GITLAB_PROJECT_ID') || pickEnv('GITLAB_PROJECT_PATH');\n\nconst hasDirectZulip = Boolean(pickEnv('ZULIP_BASE_URL'))\n  && Boolean(pickEnv('ZULIP_BOT_EMAIL'))\n  && Boolean(pickEnv('ZULIP_BOT_API_KEY'));\n\nconst hasAiopsYamlZulip = Boolean(Object.keys(parseYamlMap($env.N8N_ZULIP_API_BASE_URL || '')).length)\n  && Boolean(Object.keys(parseYamlMap($env.N8N_ZULIP_BOT_EMAIL || '')).length)\n  && Boolean(Object.keys(parseYamlMap($env.N8N_ZULIP_BOT_TOKEN || '')).length);\n\nconst missing = [];\nif (!secret) missing.push('GITLAB_WEBHOOK_SECRET');\nif (!projectFilter) missing.push('GITLAB_PROJECT_ID|GITLAB_PROJECT_PATH');\nif (!(hasDirectZulip || hasAiopsYamlZulip)) {\n  missing.push('ZULIP_* (direct) or N8N_ZULIP_*_YAML (mapping)');\n}\n\nconst ok = strict ? missing.length === 0 : true;\nconst status = ok ? 200 : 424;\n\nfunction redactHeaders(rawHeaders) {\n  const out = {};\n  for (const [k, v] of Object.entries(rawHeaders || {})) {\n    const lk = String(k).toLowerCase();\n    if (lk.startsWith('x-aiops-env-')) {\n      out[k] = '***';\n      continue;\n    }\n    out[k] = v;\n  }\n  return out;\n}\n\nfunction redactEnv(rawEnv) {\n  const envObj = (rawEnv && typeof rawEnv === 'object' && !Array.isArray(rawEnv)) ? rawEnv : {};\n  const out = {};\n  for (const [k, v] of Object.entries(envObj)) {\n    const lk = String(k).toLowerCase();\n    if (lk.includes('token') || lk.includes('api_key') || lk.includes('password') || lk.includes('secret')) {\n      out[k] = '***';\n      continue;\n    }\n    out[k] = v;\n  }\n  return out;\n}\n\nconst receivedSafe = {\n  body: { ...body, env: redactEnv(body.env) },\n  headers: redactHeaders(headers)\n};\n\nreturn [{\n  json: {\n    ok,\n    status_code: status,\n    strict,\n    missing,\n    has_direct_zulip: hasDirectZulip,\n    has_aiops_yaml_zulip: hasAiopsYamlZulip,\n    received: receivedSafe,\n    message: ok ? 'ok' : 'missing required env vars'\n  }\n}];\n"
      },
      "id": "2",
      "name": "Validate Env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status_code || 200 }}"
        }
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Test)": {
      "main": [
        [
          {
            "node": "Validate Env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Env": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
