apps/itsm_core/aiops_approval_history_backfill_to_sor/workflows/itsm_aiops_approval_history_backfill_test.json
{
  "name": "itsm-aiops-approval-history-backfill-test",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "path": "itsm/sor/aiops/approval_history/backfill/test",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Build Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ],
      "parameters": {
        "jsCode": "function parseIntSafe(raw, fallback) {\n  const n = Number.parseInt(String(raw ?? ''), 10);\n  return Number.isFinite(n) && n >= 0 ? n : fallback;\n}\n\nconst body = ($json && typeof $json === 'object' && $json.body && typeof $json.body === 'object') ? $json.body : ($json ?? {});\n\nconst realm = String(body.realm || process.env.N8N_REALM || 'default').trim() || 'default';\nconst limit = parseIntSafe(body.limit ?? process.env.ITSM_AIOPS_APPROVAL_HISTORY_BACKFILL_LIMIT, 50);\nconst floorCreatedAt = String(body.floor_created_at || body.since || process.env.ITSM_AIOPS_APPROVAL_HISTORY_BACKFILL_SINCE || '').trim();\n\nreturn [{ json: { realm, limit, floor_created_at: floorCreatedAt || null } }];\n"
      }
    },
    {
      "id": "3",
      "name": "Dry Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "name": "RDS Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH v AS (\n  SELECT\n    NULLIF('{{ String($json.realm ?? \"default\").replace(/'/g, \"''\") }}','') AS realm_key,\n    GREATEST(0, COALESCE(NULLIF('{{ String($json.limit ?? 50) }}',''), '50')::int) AS lim,\n    NULLIF('{{ String($json.floor_created_at ?? \"\").replace(/'/g, \"''\") }}','')::timestamptz AS floor_created_at\n)\nSELECT\n  v.realm_key AS realm,\n  v.lim AS limit,\n  itsm.backfill_aiops_approval_history_batch(itsm.set_rls_context(v.realm_key), v.lim, true, v.floor_created_at) AS summary\nFROM v;"
      }
    },
    {
      "id": "4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, input: $items(\"Build Input\")[0].json, result: $json } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Build Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Input": {
      "main": [
        [
          {
            "node": "Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

